@charset 'UTF-8';

.heading{
    width: 100%;
    height: 15rem;
    background-image: url(../../images/saiyou.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center; 
}