@charset "UTF-8";

.heading {
  width: 100%;
  height: 15rem;
  background-image: url(../../images/water-supply.jpg);
  background-color:rgba(255,255,255,0.5);
  background-blend-mode:lighten;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading h1 {
  text-align: center;
  color: #413126;
  font-weight: bold;
}